<turbo-frame id="basket-item-<%= item.id %>">
  <tr>
    <td><%= item.product&.name || "Unknown product" %></td>
    <% pharmacy_product = PharmacyProduct.find_by(pharmacy: @pharmacy, product: item.product) %>
    

    <td style="text-align:right;" id="total-<%= item.id %>">£<%= '%.2f' % ((pharmacy_product.price || 0) * item.quantity) %></td>

    <td>
      <%= link_to "Delete", basket_item_path(item), method: :delete, data: { turbo_confirm: "Remove item?" }, class: "delete-icon" %>
    </td>
  </tr>
</turbo-frame>
